@use "@/styles/mixins.scss" as mixins;

.fileView {
  display: flex;
  flex-direction: column;
  background-color: var(--bg2);
  border-radius: 16px;
  width: 100%;
  border: 1px solid var(--divider);

  &.dragover {
    outline: 4px dashed var(--primary);
    outline-offset: 4px;
  }

  & .content {
    position: relative;
    display: flex;
    flex-direction: column;

    & .loadingSpinner {
      position: absolute;
      inset: 0 0 1px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.2);
      & > svg {
        color: var(--primary);
        animation: rotate 1s linear infinite;
      }
    }
  }
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid var(--divider);

  .loading {
    padding-left: 16px;
    font-size: 12px;
    color: var(--primary);
  }

  .navigation {
    display: flex;
    align-items: center;
    color: var(--primary);
    gap: 4px;

    .navigationButton {
      border-radius: 8px;
      background-color: rgba(var(--primary-), 0.1);
      width: 32px;
      height: 32px;
      display: grid;
      place-content: center;
      cursor: pointer;
      border: 2px solid transparent;

      &.rotate svg {
        transform-origin: 50% 55%;
        animation: rotate 0.4s linear infinite;
      }

      &:hover {
        border: 2px solid var(--primary);
      }

      & svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .searchBar:focus-within svg {
    transform: rotate(90deg);
  }

  @media (max-width: 480px) {
    .navigation, .loading {
      display: none;
    }
  
    .searchBar {
      width: 100%;
    }
  }
}


.labels {
  padding: 12px 8px;
  font-size: 11px;
  font-weight: bold;
  color: var(--text-dark);
  display: grid;
  gap: 8px;
  border-bottom: 1px solid var(--divider);

  @include mixins.table-layout;
}

.placeholder {
  display: grid;
  place-items: center;
  padding: 32px;
}

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
  font-size: 12px;
  border-top: 1px solid var(--divider);
  color: var(--text-dark);
  & a {
    color: var(--text-dark);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
