.button {
    letter-spacing: 1px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    height: 100%;
    
    &[data-variant=primary] {
        color: black;
        background-color: var(--primary);
        font-weight: bold;
    }
    
    &[data-variant=secondary] {
        padding-inline: 24px;
        background-color: var(--bg-highlight);
        color: var(--text);
    }
    
    &:hover {
        filter:brightness(1.1)
    }
    
    &[data-size=small] {
        font-size: 10px;
        padding-inline: 8px;
    }
    &[data-size=medium] {
        font-size: 12px;
        padding-inline: 16px;
    }
    &[data-size=large] {
        font-size: 14px;
        padding-inline: 24px;
    }
}