.header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.title {
  width: 100%;
  text-align: left;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  width: clamp(800px, 80%, 1500px);
  max-width: 100%;
  gap: 16px;
}
