.breadcrumbs {
  border: 1px solid var(--divider);
  border-radius: 16px;
  background-color: var(--bg2);
  padding: 8px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  width: 100%;
  overflow: hidden;
  
  .path {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 12px;
      background: linear-gradient(to right, var(--bg2) 20%, transparent);
    }
  }
}

.homeIcon {
  display: grid;
  place-items: center;
  border-radius: 8px;
  padding: 4px;
  background-color: rgba(var(--primary-), 0.1);
  cursor: pointer;
  z-index: 2;
  
  & > svg {
    fill: var(--primary);
  }
  
  &:hover {
    outline: 2px solid var(--primary);
  }
}

.pathSlash {
  font-size: 12px;
  opacity: 0.5;
}

.pathSegment {
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  // height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:hover {
    background-color: rgba(var(--primary-), 0.1);
    color: var(--primary);
  }
  
}

.downloadButton {
  margin-left: auto;
  height: 100%;
}