.icon-circuit-board::before {
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f2db"
}

.icon-star::before {
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f005"
}

.icon-file-pdf::before {
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f1c1"
}

.icon-file-text::before {
    font-family: "Octicons Regular";
    font-size: 15px;
    content: "\f011"
}

.icon-paintcan::before {
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f1fc"
}
